@font-face {
	font-family: "cooperhewitt";
	src: url("fonts/CooperHewitt-Heavy.woff2") format("woff2");
}

h1 {
	font-family: "cooperhewitt";
	font-size: 45px;
	color: red;
	margin-left: 50px;
	text-align: center;
	position: fixed;
}

h2 {
	font-family: "cooperhewitt";
	font-size: 20px;
	justify-content: center;
	color: black;
	margin: auto;
	text-align: center;
	position: fixed;
}

p {
	font-family: "cooperhewitt";
	font-size: 14px;
	color: lightpink;
	margin: auto;
	text-align: center;
}

a {
	color: black;
}

.red {
	width: 800px;
	height: 170px;
	margin: auto;
}

.pink {
	width: 160px;
	height: 70px;
	margin: auto;
}

.yellow {
	width: 800px;
	height: 1400px;
	margin: auto;
}

.green {
	width: 50px;
	height: 30px;
	margin: auto;
}

.red {
	background-color: darkorange;
	align-content: center;
}

.pink {
	background-color: darkred;
	align-content: center;
}

.yellow {
	background-color: white;
	margin-top: 50px;
	margin: auto;
}

.green {
	background-color: white;
}

.space-around {
	justify-content: space-around;
}

.flex-vertical {
	display: flex;
	height: 2000px;
	flex-direction: row;
}