@font-face {
	font-family: "cooperhewitt";
	src: url("fonts/CooperHewitt-Heavy.woff2") format("woff2");
}

h1 {
	font-family: "cooperhewitt";
	font-size: 45px;
	color: red;
	margin-left: 50px;
	text-align: center;
	position: fixed;
}

h2 {
	font-family: "cooperhewitt";
	font-size: 20px;
	color: black;
	margin: auto;
	text-align: center;
	position: fixed;
}

p {
	font-family: "cooperhewitt";
	font-size: 14px;
	color: lightpink;
	text-align: center;
	margin-left: 100px;
	margin-bottom: 100px;
}

a {
	color: black;
	text-align: center;
	position: fixed;
	margin-bottom: 100px;
}

.red {
	width: 800px;
	height: 170px;
	margin: auto;
}

.pink {
	width: 160px;
	height: 70px;
	margin: auto;
}

.yellow {
	width: 800px;
	height: 1000px;
}

.green {
	width: 50px;
	height: 30px;
	margin: auto;
}

.red {
	background-color: transparent;
	align-content: center;
	margin-top: 30px;
}

.pink {
	background-color: transparent;
	align-content: center;
}

.yellow {
	background-color: transparent;
	margin-top: 10px;
	margin-bottom: 50px;
}

.green {
	background-color: transparent;
}

.space-around {
	justify-content: space-around;
}
